#menu { 
    background: #6d4894;
    width: 100%;
    height: 12%;
    position: fixed;
    z-index: 100; 
    }
#menu ul {
    list-style:none;
    margin:0;
    padding:0;
   }
   #menu ul li {
 background: #6d4894;
   }
   #menu ul a {
    display:block;
    color:#ccb1f1;
    text-decoration:none;
    font-weight:400;
    font-size:15px;
    padding: 25px;
    font-family:"HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform:uppercase;
    letter-spacing:1px;
   }
   #menu ul li {
    position:relative;
    float:left;
    margin:0;
    padding:0;
   }
   #menu ul li:hover {
    background: #9e76c6;
   }
   #menu ul ul {
    display:none;
    position:absolute;
    top:100%;
    left:0;
    background:#ccb1f1;
    padding:0;
   }
   #menu ul ul li {
    float:none;
    width:150px
   }
   #menu ul ul a {
    line-height:120%;
    padding:10px 15px;
   }
   #menu ul li:hover > ul {
    display:block;
   }
   H1{
    font-family: "Inter", sans-serif;
      color: #836ba6;
        }
   H7{
      font-size: 15px;
      font-family: "Inter", sans-serif;
     }
   P{
    font-family: "Plus Jakarta Sans", sans-serif;
      COLOR:#000000;
      FONT-SIZE:18px;
   }
   footer{
   background: #6d4894;
   color:#000000;
   text-align: center;
   padding:10px;
   position: relative;
   bottom: 0;
   width: 100%;
   }
   H1.animate__fadeInDown{
     animation-duration: 2s !important;
   }
   nav.animate__slideInLeft{
    animation-duration: 2s !important;
  }
