header {
    background: rgb(255, 0, 0);
    width: 99%;
    position: fixed;
    z-index: 100;
    }
    nav {
    float: left;
    }
    nav ul {
    list-style: none;
    overflow: hidden;
    }
    nav ul li {
    float: left;
    font-family: CAMBRIA;
    font-size: 16px;
    }
    nav ul li a {
    display: block;
    padding: 6px;
    color: #3b0505;
    text-decoration: none; 
    }
    nav ul li:hover {
    background:#ef5d5d;
    }