header {
    background: rgba(51,199,255);
    width: 100%;
    position: fixed;
    z-index: 100;
    }
    nav {
    float: left;
    }
    nav ul {
    list-style: none;
    overflow: hidden;
    }
    nav ul li {
    float: left;
    font-family: CAMBRIA;
    font-size: 16px;
    }
    nav ul li a {
    display: block;
    padding: 6px;
    color: #3358FF;
    text-decoration: none; 
    }
    nav ul li:hover {
    background:#ace3ed;
    }
    H1{
       COLOR: #0188A0;
       TEXT-ALIGN:CENTER;
       FONT-FAMILY:CAMBRIA;
      }
    H2{
       COLOR: #0188A0;
       FONT-FAMILY:CAMBRIA;
       FONT-SIZE:25px;
      }
    H3{
       COLOR: #0188A0;
       FONT-FAMILY:CAMBRIA;
       FONT-SIZE:25px;
      }
    H4{
       COLOR: #0188A0;
       FONT-FAMILY:CAMBRIA;
       FONT-SIZE:25px;
      }
    H5{
       COLOR: #0188A0;
       FONT-FAMILY:CAMBRIA;
       FONT-SIZE:25px;
      }
    H6{
       COLOR: #0188A0;
       FONT-FAMILY:CAMBRIA;
       FONT-SIZE:25px;
      }
    P{
       COLOR:#31C0D9;
       FONT-FAMILY:CAMBRIA;
       FONT-SIZE:20px;
    }
    LI{
       COLOR:#0481B3;
       FONT-FAMILY:CAMBRIA;
       FONT-SIZE:20px;
    }
    footer{
    background-color:#33C7FF;
    color:#05679E;
    text-align:center;
    padding:10px;
    position: relative;
    bottom: 0;
    width: 100%;
    }
    footer a{
    color:#05679E;
    }
    H1.animate__rollIn{
      animation-duration: 4s !important;
    }
    H2.animate__rollIn{
      animation-duration: 4s !important;
    }
    H3.animate__rollIn{
      animation-duration: 4s !important;
    }
    H4.animate__rollIn{
      animation-duration: 4s !important;
    }
    H5.animate__rollIn{
      animation-duration: 4s !important;
    }
    H6.animate__rollIn{
      animation-duration: 4s !important;
    }
    